# Experiments Evaluation

In [1]:
from src.experiment_evaluation import evaluate_experiment

In [2]:
evaluate_experiment("single_agent-llama8b")

,File,Coverage (%),Pass Rate (%),Mutation Score (%),Tokens,Note
0,library.py,100.0,100.00,55.26,1567.000000,
1,bank_account.py,100.0,85.71,0.00,858.000000,Fail
2,hotel_reservation.py,64.0,61.54,0.00,2236.000000,Fail
3,MEAN,88.0,82.42,18.42,1553.666667,

In [3]:
evaluate_experiment("collaborative_agents-scout-maverick")

,File,Coverage (%),Pass Rate (%),Mutation Score (%),Tokens,Note
0,library.py,100.0,100.0,52.63,5214.000000,
1,bank_account.py,100.0,100.0,59.26,2780.000000,
2,hotel_reservation.py,100.0,100.0,61.40,9494.000000,
3,MEAN,100.0,100.0,57.76,5829.333333,